<p id="notice">
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
</p>
<% if what.errors.any? %>
  <%= what.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% what.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>